 *{
     box-sizing: border-box;
 }
 :root{
     --ff-primary: 'Source Sans Pro', sans-serif;
     --ff-secondary: 'Piazzolla', serif; 

     --fw-reg:400;
     --fw-bold:700; 

     --clr-primary: rgb(199, 198, 198);
     --clr-secondary: rgb(73, 72, 72);
     --clr-accent: rgb(36, 164, 196);
     

     --fs-h1: 3rem;
     --fs-h2: 2.25rem;
     --fs-h3: 1.5rem;
     --fs-body: 1rem;
 }
 html{
     scroll-behavior: smooth;
 }
 body{
     background-color: var(--clr-primary);
     color:var(--clr-secondary);
     font-family: var(--ff-primary);
     font-size: var(--fs-h3);
     margin: 0;
     padding: 0;
 }

 /* typography */
h1{
    font-size: var(--fs-h1);
}
h2{
    font-size: var(--fs-h2);
}
h3{
    font-size: var(--fs-h3);
}
.section__title{
    font-family: var(--ff-secondary);
    color: var(--clr-accent);
}
.section__subtitle{
    color: var(--clr-accent);
    font-size: var(--fs-h3);
    font-family: var(--ff-secondary);
}
/* typography ends */

/* navigation section */

.nav{
    position: fixed;
    width: 100%;
    z-index: 2;
    
}
.nav__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--clr-secondary);
  }
  
  li {
   display:inline-block; 
  }
  
  li a {
    display: inline-block;
    color:var(--clr-primary);
    text-align: center;
    padding: 1em 1em;
    text-decoration: none;
  }
  
  li a:hover {
    background-color:var(--clr-accent);
  }
  
/* navigation ends */

/* img section */


.img__about{
    max-width: 480px;
}

/* img ends */


/* intro section */
.intro{
    min-height: 800px;
    background-image: url(photos/background\ sunset.jpg);
    background-size: cover;
    background-color:var(--clr-accent);
    background-position: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
margin: 0;
padding: 0;
}
.intro__title{
    text-align: center;
    color: white; 
    font-size: var(--fs-h1);
}
.intro__subtitle{

    text-decoration:underline;
    text-decoration-color:var(--clr-accent);
    text-align: center;
    color:white;
    font-size: var(--fs-h2);
}
/* intro section ends */

/* my services */
.myServices{
    color: var(--clr-accent);
    max-width: 600px;
}
@media (min-width:800px){
    .services{
        min-height: 500px;
        background-size: cover;
        margin: 0;
        padding: 0;
        position: relative;
        }
          
        .myServices{
            display: grid;
            color: var(--clr-accent);
            grid-template-columns: 1fr 1fr;
            grid-gap: 3em;
            max-width: 1000px;
            font-size: var(--fs-h3);
            padding: 3em;
            padding-top: 0;
            margin: 3em;
            margin-top: 0em;
        
        }
        
        
        
        .services__title{
        margin:3em 3em 0em 3em ;
            color:var(--clr-accent);
            font-family: var(--ff-secondary);
        }
}

/* my services ends */
.aboutMe{
    background-image: url(photos/services-bg.jpg);
   background-size:cover;
   min-height: 500px;
   }
.about__title{
    text-align: center;
    color:var(--clr-primary);
}
.about__subtitle{
    text-align: center;
    color:var(--clr-primary);
    font-size: var(--fs-h2);
}
.about__body{
    max-width: 100%;
}
.about__body--p{
    position: relative;
    color: white;
    max-width: 400px;
    padding: 1em;
}
.img__about{
    max-width: 90%;
}

@media(min-width:820px){

       .about__body{
        display: grid;
        grid-template-columns: 1fr 1fr;
         }
         .about__body--p{
             font-size: var(--fs-h3);
         }
      
}

/* my work section */

.myWork{
	background-color:var(--clr-dark);
	color:var(--clr-light);
	text-align: center;

}
.gallery{
	display: grid;
	grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
}
.gallery__item{
	background: var(--clr-accent);
	overflow: hidden;

}
.gallery__img{
	transition: transform 1000ms cubic-bazier(.5,0,.5,1),
	opacity:250ms linear;//I dont think this is working though. 
}

.gallery__img:hover{
	transform: scale(1.2);
	opacity: .75;

}

/* footer */
footer{
    background-color: var(--clr-secondary);
    padding: 1em 0em;
    text-align: center;
    color: var(--clr-primary);
    font-size: var(--fs-h2);
}
footer a{
    text-decoration: none;
    color: white;
    padding: .5em;

}
footer a:hover{
    color: var(--clr-accent);
}
